#header-area{
    background-color: green;
    padding: 10px 0;
}

.logo a{
    color: #fff;
    font-weight: 700;
}

#header-area .navbar-nav .nav-item .nav-link{
    color: #fff;
    font-weight: 600;
}

#header-area .btn {
    color: #fff; 
    background-color: transparent;
    border: 1px solid #fff
};

/* .banner-area{
    background-image: url(../images/canteen.jpg);
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} */


